.emaillist {
    display: flex;
    flex-direction: column;
}

.emailist__settings {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.emailist__settings svg {
    font-size: 18px;
}

.emailist__settingsRight {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.emailtype {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.emailtype>.emailtype__options {
    display: flex;
    align-items: center;
    min-width: 230px;
    padding: 0px 10px;
    cursor: pointer;
    border-bottom: 3px solid white;
}

.emailtype>.emailtype__options svg {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

.emailtype>.emailtype__options p {
    font-size: 15px;
}

.emailtype>.emailtype__options:hover {
    background-color: whitesmoke;
}

.emailtype__options--active {
    border-bottom: 3px solid #d93025 !important;
}

.emailtype__options--active p,
.emailtype__options--active svg {
    color: #d93025 !important;
    font-weight: bold;
}

.emailbody {
    display: flex;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding: 0px 10px;
    height: 40px;
}

.emailbody:hover {
    cursor: pointer;
    box-shadow: 2px 2px 4px whitesmoke;
}

.emailbody .emailbody__left {
    display: flex;
    align-items: center;
    min-width: 300px;
    flex: 20%;
}

.emailbody .emailbody__left svg {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
}

.emailbody .emailbody__middle {
    display: flex;
    align-items: center;
    flex: 90%;
}

.emailbody .emailbody__right {
    display: flex;
    align-items: center;
    flex: 10%;
}

.emailbody .emailbody__middle p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 20px;
    max-width: 600px;
}

.emailbody .emailbody__right p {
    font-size: 12px;
}

.emaildetails__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}

.emaildetails__headerLeft {
    display: flex;
    align-items: center;
}

.emaildetails__header svg,
.emaildetails__middleheader svg {
    font-size: 18px;
}

.emaildetails__middleheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emaildetails__middleheaderLeft,
.emaildetails__middleheaderRight {
    display: flex;
    align-items: center;
}

.emaildetails__middleheaderLeft h4 {
    margin-right: 10px;
    font-size: 18px;
}

.emaildetails__middleheaderLeft p,
.emaildetails__middleheaderRight p {
    font-size: 14px;
}

.emaildetails_body {
    display: flex;
    padding: 0px 15px;
}

.emaildetails__middleheaderLeft .MuiAvatar-root {
    height: 30px;
    width: 30px;
}